<div class="row">
  <section class="content">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-container">
            <table class="table table-filter">
              <tbody>
                <% @users.each do |user| %>
                <tr data-status="pendiente">
                  <td>
                    <div class="media card">
                      <div class="pull-left avatar">
                        <%= gravatar_for user, size: 100 %>
                      </div>
                      <div class="media-body">
                        <span class="media-meta pull-right">
                          <%= l user.created_at,
                            format: t("formats.short") %>
                        </span>
                        <h4 class="title">
                          <%= link_to user.name, user %>
                        </h4>
                        <p class="summary"><%= t "index.description" %></p>
                        <% unless current_user.is_user?(user) %>
                          <div class="btn-toolbar demoPadder" role="toolbar">
                            <button type="button"
                              class="btn btn-default btn-lg">
                              <span class="glyphicon glyphicon-star"
                                aria-hidden="true"></span>
                                <%= t "index.follow" %>
                            </button>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<%= will_paginate %>

